@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Tùy chỉnh thanh cuộn cho toàn bộ trang */
::-webkit-scrollbar {
  width: 8px;
  /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #4c9aff;
  /* Màu sắc thanh cuộn */
  border-radius: 10px;
  /* Bo tròn thanh cuộn */
  transition: background-color 0.3s ease;
  /* Hiệu ứng chuyển màu khi hover */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3182ce;
  /* Màu khi hover */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  /* Màu nền của track */
  border-radius: 10px;
  /* Bo tròn track */
}

/* Tùy chỉnh thanh cuộn trong sidebar */
.sidebar {
  overflow-y: auto;
  /* Cho phép cuộn trong sidebar */
  height: 100vh;
  /* Đảm bảo sidebar có chiều cao đầy đủ */
}